nav a{
  color:#ff073a;
}

.mycontent h2,h3,h6,h1{
  color:#007bff;
  font-size:35px;
  margin-bottom: 1em;
}
.mycontent label{
  color:#6c757d;
  font-size:20px;
  background-color: transparent;
}

.mycontent p{
  color:#28a745;
}

.mycontent .list-group{
  color:#6c757d;
}

.mycontent h4,h5{
  color:#007bff;
}
