<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'simplesocial/css/places.css' %}">
    <title>Hodophile-Munnar</title>
  </head>
  <body>
    <section class="section-plans" id="section-plans">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          Munnar Plans
        </h2>
      </div>

      <div class="row">
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-1">
              <div class="card__title card__title--1">
                <i class="fas fa-paper-plane"></i>
                <h4 class="card__heading">1 DAY</h4>
              </div>

              <div class="card__details">
                <ul>
                  <li><details>
  <summary style="text: decoration:none;">Places</summary>
  <li>Kolukkumalai <span style="padding-left:10px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
  <span style="padding-left:3px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
    <span style="padding-left:3px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
    <span style="padding-left:3px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
</li>
  <li>Eravikulam
                    <span style="padding-left:10px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
  <span style="padding-left:3px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
    <span style="padding-left:3px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
    <span style="padding-left:3px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span></li>
  <li>Marayoor
                    <span style="padding-left:10px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
  <span style="padding-left:3px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
    <span style="padding-left:3px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
    </li>
  <li>Pothamedu
                    <span style="padding-left:10px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
  
    <span style="padding-left:3px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span>
    <span style="padding-left:3px;"><i class="fas fa-star" style="font-size:10px;"></i>
</span></li>                  
</details></li>
                  <li>
                    <details>
                      <summary style="text: decoration:none;">Hotels</summary>
                    <li>Saravana Bhavan <span style="font-size: 11px;">4.1/5.0(1910)</span></li>
                    <li>Gurubhavan <span style="font-size: 11px;">4.0/5.0(2763)</span></li>
                    <li>Tea Tales cafe <span style="font-size: 11px;">4.6/5.0(211)</span></li>
                    <li>Ktdc Munnar<span style="font-size: 11px;">4.1/5.0(3206)</span></li>
                    <li>Butlers Creek  <span style="font-size: 11px;">4.1/5.0</span></li>
                    </details>
                    </li>
                  <li><details>
                      <summary style="text: decoration:none;">Shopping place</summary>
                    <li>Echo point</li>
                    </details></li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Estimate</p>
                  <p class="card__price-value">₹1500/-</p>
                </div>
                <a href="#popup" class="btn btn--white">Dream..Explore..Discover</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-2">
              <div class="card__title card__title--2">
                <i class="fas fa-plane"></i>
                <h4 class="card__heading">2 DAY</h4>
              </div>

              <div class="card__details">
                <ul>
                  <li><details>
                      <summary style="text: decoration:none;">Places</summary>
                    <li><details>
                      <summary style="text: decoration:none;">Day1</summary>
                          <li>Photo Point</li>
                          <li>Mattupetty Dam</li>
                          <li>Echo point</li>
                          <li>Kundala Lake</li>
                          <li>Top Lake</li>
                    </details></li>
                    <li><details>
                      <summary style="text: decoration:none;">Day2</summary>
                          <li>Kolukkumalai</li>
                          <li>Meesapulimala</li>
                          <li>Eravikulam</li>
                          <li>Vattavada</li>
                    </details></li>
                  </details>
                </li>
                  <li><details>
                      <summary style="text: decoration:none;">Hotels</summary>
                    <li>Saravana Bhavan <span style="font-size: 11px;">4.1/5.0(1910)</span></li>
                    <li>Gurubhavan <span style="font-size: 11px;">4.0/5.0(2763)</span></li>
                    <li>Tea Tales cafe <span style="font-size: 11px;">4.6/5.0(211)</span></li>
                    <li>Ktdc Munnar<span style="font-size: 11px;">4.1/5.0(3206)</span></li>
                    <li>Butlers Creek  <span style="font-size: 11px;">4.1/5.0</span></li>
                    </details></li>
                    <li><details>
                      <summary style="text: decoration:none;">Shopping place</summary>
                    <li>Echo point</li>
                    </details></li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-2">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Estimate</p>
                  <p class="card__price-value">₹3000/-</p>
                </div>
                <a href="#popup" class="btn btn--white">Dream..Explore..Discover</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-1-of-3">
          <div class="card">
            <div class="card__side card__side--front-3">
              <div class="card__title card__title--3">
                <i class="fas fa-rocket"></i>
                <h4 class="card__heading">3 DAY</h4>
              </div>

              <div class="card__details">
                <ul>
                  <li><details>
                      <summary style="text: decoration:none;">Places</summary>
                    <li><details>
                      <summary style="text: decoration:none;">Day1</summary>
                          <li>Ramakkalmedu</li>
                          <li>panchalimedu</li>
                          <li>palkumamedu</li>
                          <li>Anchuruli Tunnel</li>
                    </details></li>
                    <li><details>
                      <summary style="text: decoration:none;">Day2</summary>
                          <li>Photo Point</li>
                          <li>Mattupetty Dam</li>
                          <li>Echo point</li>
                          <li>Kundala Lake</li>
                          <li>Top Lake</li>
                    </details></li>
                    <li><details>
                      <summary style="text: decoration:none;">Day3</summary>
                          <li>Kolukkumalai</li>
                          <li>Meesapulimala</li>
                          <li>Eravikulam</li>
                          <li>Vattavada</li>
                    </details></li>
                  </details>
                </li>
                  <li><details>
                      <summary style="text: decoration:none;">Hotels</summary>
                    <li>Saravana Bhavan <span style="font-size: 11px;">4.1/5.0(1910)</span></li>
                    <li>Gurubhavan <span style="font-size: 11px;">4.0/5.0(2763)</span></li>
                    <li>Tea Tales cafe <span style="font-size: 11px;">4.6/5.0(211)</span></li>
                    <li>Ktdc Munnar<span style="font-size: 11px;">4.1/5.0(3206)</span></li>
                    <li>Butlers Creek  <span style="font-size: 11px;">4.1/5.0</span></li>
                    </details></li>
                    <li><details>
                      <summary style="text: decoration:none;">Shopping place</summary>
                    <li>Echo point</li>
                    </details></li>
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-3">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Estimate</p>
                  <p class="card__price-value">₹7000/-</p>
                </div>
                <a href="#popup" class="btn btn--white">Dream..Explore..Discover</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="u-center-text u-margin-top-huge">
       <a href="{% url 'home' %}" class="btn btn--green">HOME</a>
      </div>
    </section>
    
  </body>
</html>
