<div class="post-media">
  {% if user.is_authenticated and post.user == user %}
  <h4 style="color: red; font-size: 20px;">{{post.message|safe}}</h4>
  {% else %}
  <h4 style="font-size: 20px;"> {{post.message|safe}}</h4>
  {% endif %}
  <p style="margin-bottom: 1px;" class="username"><a href="{% url 'posts:for_user' username=post.user.username %}" style="font-size: 15px; margin-bottom: 25px;">@{{post.user.username}}</a> ,      {{post.created_at}}</p>

  <div class="media-body">

    <h5 class="media-heading">
    <time class="time"><a href="{% url 'posts:single' username=post.user.username  pk=post.pk %}"></a></time>
    </h5>
    <div class="media-footer">
      {% if user.is_authenticated and post.user == user %}

      <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
        <span class="glyphicon glyphicon-remove text-danger" aria-hidden='true'></span>
        <span class="text-danger icon-label">Delete</span>
      </a>

      {% endif %}
    </div>
  </div>
</div>
